<!-- Import the header section -->
<%- include("./header"); %>

<div class="background_img">
    <img src="./images/bg-mobile-dark.jpg" alt="Dark Mobile Background">
</div>

<div class="container">
    <header>
        <h1 class="title">
            TODO
        </h1>
    
        <img src="./images/icon-sun.svg" alt="Sun Icon" class="theme" id="theme">
    </header>

    <form method="post" action="/" class="user_input_box">
        <div class="check">
            <div class="check_mark">
                <button type="submit"" class="user_input_btn"></button>
            </div>
        </div>

        <div class="user_input">
            <div class="userInput_form">
                <input type="text" name="userInput" autocomplete="off" placeholder="Create a new todo...">
            </div>
        </div>
    </form>

    <section class="list_display">
        <% itemList.forEach(item => { %>
            <div class="item_display">
                <div class="check">
                    <% if(item.checked === true) { %>
                        <form class="check_mark checked_item_btn" method="post">
                            <img src="./images/icon-check.svg" alt="Check Icon">
                            <input type="hidden" name="completedItemID" value="<%= item._id %>">
                            <button type="submit"" class="user_choice_btn" onclick="this.form.action='/update'"></button>
                        </form>
                    <% } else { %>
                        <form class="check_mark" method="post">
                            <input type="hidden" name="completedItemID" value="<%= item._id %>">
                            <button type="submit"" class="user_choice_btn" onclick="this.form.action='/update'"></button>
                        </form>
                    <% } %>
                </div>
                <div class="item_content">
                    <% if(item.checked === true) { %>
                        <p class="item_checked"><%= item.content %></p>
                    <% } else { %>
                        <p><%= item.content %></p>
                    <% } %>
                </div>
                <form method="post" class="cross">
                    <input type="hidden" name="itemID" value="<%= item._id %>">
                    <button type="submit" onclick="this.form.action='/delete'">
                        <img src="./images/icon-cross.svg" alt="Cross Icon">
                    </button>
                </form>
            </div>
        <% }) %>

        <div class="list_info">
            <div class="items_left">
                <p><%= activeItemsLeft %> items left</p>
            </div>
            <div class="items_statues">
                <span class="active">All</span>
                <span>Active</span>
                <span>Completed</span>
            </div>
            <form method="post" class="items_clear">
                <button type="submit" onclick="this.form.action='/clear'">Clear Completed</button>
            </form>
        </div>
    </section>

    <section class="statues">
        <div class="items_statues">
            <span class="active">All</span>
            <span>Active</span>
            <span>Completed</span>
        </div>
    </section>

    <section class="drag_drop">
        <p>Drag and drop to reorder list</p>
    </section>
</div>

<!-- Import the footer section -->
<%- include("./footer"); %>